rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /stak_companies/{companyId}/{document=**} {
      allow read, write: if true; // tighten later: request.auth != null
    }
    match /stak_meta/{docId} {
      allow read, write: if true;
    }
  }
}
